body {
	font-family: Verdana, Geneva, sans-serif;
	background: #9BAFB7;
	color: #21495A;
	text-align: center;
}

h1, h2, h3 {
	font-family: Georgia, serif;
}

h1 {
	font-size: 3rem;
}

table {
	margin: auto;
	text-align: left;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #21495A;
}

td {
	padding: 1rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
